<app-header-other title="Clientes y Proyectos"></app-header-other>
<div >
    <div class="container ">
        <div class="col-lg-12 row">
            <img class="col-lg-6" src="assets/proyectos/pro1.png" alt="">
            <div class="col-lg-6 descrip">
                <h2>Vigilancia y Control de Obra</h2>
                <p>Our team of dedicated professionals brings together a wealth of expertise and experience across various industries, allowing us to deliver tailored solutions that drive tangible results. From strategic consulting to digital transformation, we are here to support your journey towards growth.</p>
            </div>
        </div>
        <div class="col-lg-12 row">
            <img class="col-lg-6" src="assets/proyectos/pro2.png" alt="">
            <div class="col-lg-6 descrip">
                <h2>Vigilancia y Control de Obra</h2>
                <p>Our team of dedicated professionals brings together a wealth of expertise and experience across various industries, allowing us to deliver tailored solutions that drive tangible results. From strategic consulting to digital transformation, we are here to support your journey towards growth.</p>
            </div>
        </div>
        <div class="col-lg-12">
            <ul class="">
                <li><img src="assets/nosotros/logo-big.png" alt=""></li>
                <li><img src="assets/nosotros/logo-big.png" alt=""></li>
                <li><img src="assets/nosotros/logo-big.png" alt=""></li>
                <li><img src="assets/nosotros/logo-big.png" alt=""></li>
                <li><img src="assets/nosotros/logo-big.png" alt=""></li>
                <li><img src="assets/nosotros/logo-big.png" alt=""></li>
                <li><img src="assets/nosotros/logo-big.png" alt=""></li>
                <li><img src="assets/nosotros/logo-big.png" alt=""></li>
            </ul>
        </div>

    </div>
</div>
<app-footer></app-footer>