<div class="box-master">
    <div class="row container" style="position: relative;z-index: 1;">
        <div class="box-3 col-lg-4 col-md-12" style="padding:10px;">
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAYElEQVR4nO2WMQrAMAwD/cT8f3e+caXN1iXUFSmkut3iQBocYcwEoAGd5+R5G29hBFVJhcDFqjtZkAVwBcXtyIIsgCsobkcWZAFcwfYj5Mb/BGYoBZKPn9JWlNC85WZ7DvqQWjSNEiHpAAAAAElFTkSuQmCC">
            <p>+51 933 499 414</p>
        </div>
        <div class="box-2 col-lg-4 col-md-12" style="display: flex;gap:8px ;padding:10px;">
            <i class="fa-regular fa-envelope" style="color: #ffffff;"></i>
            <p>varsalgroup&#64;gmail.com</p>
        </div>
        <div class="box-1 col-lg-4 col-md-12" style="display: flex;gap:16px; height: auto;">
            <div style="padding: 10px;">
                <a class="fa-brands fa-facebook-f fa-2xl" style="color: #ffffff;padding: 10px; text-decoration: none;" href="https://www.facebook.com/profile.php?id=61561409291059&sk=about"></a>
                <a class="fa-brands fa-instagram fa-2xl" style="color: #ffffff;padding: 10px;text-decoration: none;" href="https://www.instagram.com/varsal_ingenieros/"></a>
                <a class="fa-brands fa-linkedin-in fa-2xl" style="color: #ffffff;padding: 10px;text-decoration: none;" href="https://www.linkedin.com/company/varsal-ingenieros-peru/"></a>
            </div>
        </div>
      </div>
      <img style="position: absolute;z-index: 0;right: 0;" src="/assets/backgrounds/footer.png" alt="">
</div>