<div class="box-master">
    <div class="row box-content">
        <div class="col-lg-3 col-md-12 title"><h2>NUESTROS SERVICIOS</h2>
            <a class="btn_mas" type="submit">
                <div class="btn_icon"><img  width="40" height="40" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAACXBIWXMAAAsTAAALEwEAmpwYAAABMklEQVR4nO3ZQWrDMBCF4UlO2YWda3TrkE0XIasECu1NcqSuSrv/g4niOEYuoSAzkt4HgiwU0DxLY2ybiYiIiIgsClgDbRhrqw2w4a612gDdKIDOaoMCQDsAHYGBeoDVBvUA1ANQDxioB1htUA9APQD1gIF6gJUI2AG/wB5YPXsE+rnAIfx3a7kCfkZFvo9DmAsgFN/Pvfm2XHG9isRCiAUQKb63t1xxLeg4KegzvBB9CCDMPU3mfmT/wpT5ELaTAMor/mZma3/N/H44KsUgvhNiyrny/wih3OKfCKH84v8IoZ7iJyG8hFFWwysSzr/mJl8fzr/mJl8fzt/gJF8fCgDtAHQEBuoB5oyaILoLdEveBs/Aq7NxXjIA75IE0JKPJtXDRgO8OR+Nx4c1ERERETFnLpAinSvXvUMZAAAAAElFTkSuQmCC"></div>
                <div style="padding: 5px;">  
                <p>Descargar Brochure</p>
                </div>
          </a>
        </div>
        <div class="col-lg-8 col-md-12 box-serv ">
      <!--       <div class="serv-1 serv col-md-12" [routerLink]="['/medio-ambiente']"><h3 class="rotar1">Medio Ambiente, Cambio Climático y Sostenibilidad </h3></div>
            <div class="serv-2 serv col-md-12" [routerLink]="['/seguridad-salud']"><h3 class="rotar2">Seguridad y Salud</h3></div>
            <div class="serv-3 serv col-md-12" [routerLink]="['/supervision']"><h3 class="rotar3">Supervisión de Proyectos</h3></div>
    -->
    <input class="input" type="radio" name="slide" id="c1" checked>
  
     <label class="carta-box" id="box1">
        <label for="c1" class="carta ">
            <div class="row col-12">
                <div class="description col-12" >
                    <h4>Medio Ambiente, Cambio Climático y Sostenibilidad </h4>
                    <button [routerLink]="['/medio-ambiente']" class="btn btn-light col-lg-4 ">Ir</button>
                </div>
            </div>

        </label>
       
    </label>
    
    <input  class="input" type="radio" name="slide" id="c2" >
    <label class="carta-box" id="box2">
        <label for="c2" class="carta opacity">
            <div class="row col-12">
                <div class="description col-12">
                    <h4>Seguridad y Salud</h4>
                    <button [routerLink]="['/seguridad-salud']" class="btn btn-light col-lg-4 ">Ir</button>
                </div>
            </div>
        </label>
    </label>

    <input class="input" type="radio" name="slide" id="c3" >
    <label class="carta-box" id="box3">
        <label for="c3" class="carta opacity">
            <div class="row col-12">
                <div class="description col-12">
                    <h4>Supervisión de Proyectos</h4>
                    <button [routerLink]="['/supervision']" class="btn btn-light col-lg-4 ">Ir</button>
                </div>
            </div>
        </label>
    </label>
  
        </div>
    </div>
</div>