
h3{
width: 80%;
margin: 10px;
padding: 0;
}
.rotar{
    transform: rotate(-90deg); 
    transform-origin: left top; 
}

.serv-1{
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('/assets/servicios/servicio1.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    width: 36%;  
}

.serv-2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/servicios/servicio2.png');
    width: 25%;
}
  
.serv-3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('/assets/servicios/servicio3.png');
    width: 25%;
}
   
.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    align-items: center;

}
.title h2{
    font-family: "Outfit", sans-serif;
    font-weight: 800;
    font-size: 45px;
    text-align: center;
}
.serv{
    background-size: cover;
    display: flex;
    align-items: flex-end;
    border-radius: 5px;
    color: white;
}

.box-master{
    padding: 20px;

}
.box-content{
    background: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(26, 16, 16, 0.151);

    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2%;
    border-radius: 10px;
}
.box-serv{
    padding: 30px;
    min-height: 600px;
    display: flex;
    justify-content: center;
    gap: 10px;
    
}




.btn_mas{
    cursor: pointer;
    font-family: "Outfit", sans-serif;
    font-size: 20px;
    border: #990E0E solid 1px ;
    background: white;
    margin-top: 80px;
    width: 265px;
    align-items: center;
    text-decoration: none;
    display: flex;
    flex-direction: row-reverse;
    padding: 0;
    color: #494545;

}
.btn_mas p{
    display: flex;
    margin: 0px;
    align-items: center;
    justify-content: center;
    padding: 4px;
}
.btn_mas:hover{
  background-color: #333333;
  color: white;
}
.btn_icon{
background: #990E0E;
display: flex;
justify-content: center;
padding: 8px;
}


@media (max-width:425px){
    .box-serv{
   
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .serv{
        width: 100%;
        height: 350px;
    }

}

@media (max-width: 991px){

}