<div class="box">
<app-navbar></app-navbar>

<section class="slider">
    <div class="col-lg-12 cont" >
        <div class="col-lg-1">
            <div class="arrow">
                <img src="assets/icons/arrow-left.png" alt="" width="35" height="40">
            </div>
        </div>
        <div class="container" style="padding: 20px;">
            <div class="col-lg-8 col-md-8 ">
                <h1>Medio Ambiente, Cambio Climático y Sostenibilidad</h1>
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias explicabo dolore autem recusandae itaque voluptate nam consectetur quis totam officia accusamus neque incidunt similique obcaecati quidem, ipsa alias natus sequi!
                </span>
                <div class="btn_mas">
                    <div class="btn_icon"><img src="assets/icons/icons8-right-arrow-50.png" alt="" width="28" height="35"></div>
                 <div style="width: 105px;">  
                     <p>READ MORE</p>
                </div>
                </div>
            </div>
        </div>
        <div style="display: flex;justify-content: flex-end;">
            <div class="arrow">
                <img src="assets/icons/icons8-right-arrow-50.png" alt="" width="35" height="40">
            </div>
        </div>
    </div>
</section>

</div>