<app-header-other title="Sefuridad y salud en el trabajo"></app-header-other>


<div class="box-master container">
    <h1>Servicios</h1>
    <div class="box-cards row">
       <div class="col-lg-3 cont-card">
        <div class="card "  >
            <img  src="assets/servicios/seguridad-salud/seg1.png" width="300" height="250" alt="">
            <div class="card-body">
                <div class="body">
                    <h2 class="card-title">Sistema de Gestión de Seguridad y Salud en el trabajo</h2>
                    <span>Diseñamos e implementamos el Sistema de gestión de SST conforme a la naturaleza de su organización y a la Ley N° 29783, Ley de SST , ayudando a las empresas a cumplir con la legislación vigente, mejorar las condiciones laborales y reducir los riesgos de accidentes y enfermedades ocupacionales; que contribuye a crear un ambiente de trabajo seguro y saludable, lo que se traduce en una fuerza laboral más comprometida y productiva.
                    </span>
                </div>               
            </div>
        </div>
       </div>
       <div class="col-lg-3 cont-card" >
        <div class="card "  >
            <img src="assets/servicios/seguridad-salud/seg2.png" width="300" height="250" alt="">
            <div class="card-body">
               <div class="body">
                <h2>Certificado de Inspección Técnica de Seguridad en Edificaciones - ITSE</h2>
                <span>La ITSE es la “actividad mediante la cual se evalúan el riesgo y las condiciones de Seguridad de la Edificación vinculadas con la actividad que se desarrolla en ella, se verifica la implementación de las medidas de seguridad que requiere y se analiza la vulnerabilidad”.
                    Es emitido por los gobiernos locales, en este caso por la Municipalidad de la jurisdicción donde se encuentra la edificación.
                    </span>
            </div>
            </div>
        </div>
       </div>
        <div class="col-lg-3 cont-card" >
            <div class="card "  >
                <img src="assets/servicios/seguridad-salud/seg3.png" width="300" height="250" alt="">
                <div class="card-body">
                    <div class="body">
                        <h2>Levantamiento de Observaciones</h2>
                        <span>Diseñamos e implementamos el Sistema de gestión de SST conforme a la naturaleza de su organización y a la Ley N° 29783, Ley de SST , ayudando a las empresas a cumplir con la legislación vigente, mejorar las condiciones laborales y reducir los riesgos de accidentes y enfermedades ocupacionales; que contribuye a crear un ambiente de trabajo seguro y saludable, lo que se traduce en una fuerza laboral más comprometida y productiva.</span>
                    </div>
                </div>
            </div>
        </div>
       <div class="col-lg-3 cont-card">
        <div class="card " >
            <img src="assets/servicios/seguridad-salud/seg4.png" width="300" height="250" alt="">
            <div class="card-body">
            <div class="body">
                <h2>Elaboración de Dossier SSOMA.</h2>
                <span>Diseñamos e implementamos el Sistema de gestión de SST conforme a la naturaleza de su organización y a la Ley N° 29783, Ley de SST , ayudando a las empresas a cumplir con la legislación vigente, mejorar las condiciones laborales y reducir los riesgos de accidentes y enfermedades ocupacionales; que contribuye a crear un ambiente de trabajo seguro y saludable, lo que se traduce en una fuerza laboral más comprometida y productiva.</span>
            </div>   
            </div>
        </div>
       </div>
        <div class="col-lg-3 cont-card" >
            <div class="card "  > 
                <img src="assets/servicios/medio_ambiente/amb5.png" width="300" height="250" alt="">
                <div class="card-body">
                   <div class="body">
                        <h2>------</h2>
                        <span>Elaboración de los requisitos de medio ambiente, salud y seguridad industrial para contratistas – FR 043 – Antamina.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<app-footer></app-footer>