
<div class="redes">
    <img src="https://img.icons8.com/?size=100&id=118497&format=png&color=000000" alt="">
    <img src="https://img.icons8.com/?size=100&id=32323&format=png&color=000000" alt="">
    <img src="https://img.icons8.com/?size=100&id=13930&format=png&color=000000" alt="">
    <img src="https://img.icons8.com/?size=100&id=P7UIlhbpWzZm&format=png&color=000000" alt="">
</div>

<a class="whatsapp" href="https://api.whatsapp.com/send?phone=51933499414&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n." >
    <img src="https://img.icons8.com/?size=100&id=16713&format=png&color=000000" alt="">
</a>