
<div class="redes">
        <div class="box"><a class="fa-brands fa-facebook-f " style="color: #ffffff;" href="https://www.facebook.com/profile.php?id=61561409291059&sk=about" ></a></div>
        <div class="box"><a class="fa-brands fa-instagram " style="color: #ffffff;" href="https://www.instagram.com/varsal_ingenieros/"></a></div>
        <div class="box"><a class="fa-brands fa-linkedin-in " style="color: #ffffff;" href="https://www.linkedin.com/company/varsal-ingenieros-peru/"></a></div>
</div>
<!-- <div class="btn-drag">
<img src="assets/icons/menu.png" alt="">
</div>-->
<a class="whatsapp" href="https://api.whatsapp.com/send?phone=51933499414&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n." >
    <img src="https://img.icons8.com/?size=100&id=16713&format=png&color=000000" alt="">
</a>