<app-header-other title="Medio Ambiente"></app-header-other>


<div class="box-master container">
    <h1>Servicios</h1>
    <div class="box-cards row" >
       <div class="col-lg-3 cont-card" *ngFor="let servicio of servicios">
        <div class="card ">
            <img  src="{{ servicio.img }}" width="300" height="250" alt="">
            <div class="card-body">
                <div class="body">
                    <h2 class="card-title">{{ servicio.title }}</h2>
                    <span>{{ servicio.descrip }}</span>
                </div>               
                <a [routerLink]="['/servicio-detalle']" [queryParams]="{ title: servicio.title, descrip: servicio.descrip, img: servicio.img }" class="btn btn-success">Saber más</a>
            </div>
        </div>
       </div>
    </div>
</div>
<app-footer></app-footer>