<app-header-other title="Nosotros"></app-header-other>

<div class="container box-seccion1" >
    <div class="row seccion1">
        <div class="col-lg-5 col-md-12 logo">
            <img  src="assets/nosotros/logo-big.png" alt="" >
        </div>
        <div class="col-lg-6 col-md-12 box-argument" >
            <div class="argument row" >      
                <div class="content-img col-lg-2  col-md-2"><img class="" src="assets/nosotros/quienes-somos.png" alt="" width="100" ></div>
             <div class="col-lg-9 col-md-8">
                <h2 class="subtitle">¿Quienes somos?</h2>
                <p>Somos Varsal, nos dedicamos a brindar servicios de consultoría en ingeniería, seguridad salud en el trabajo, medio ambiente y sostenibilidad. Con una combinación única de experiencia, conocimientos y enfoque colaborativo, somos un socio confiable para las empresas.</p>
             </div>
            </div>
            <div class="argument row" >
                <div class="content-img col-lg-2 col-md-2">
                    <img class="" src="assets/nosotros/mision.png" alt="" width="100" >
                </div>
                <div class="col-lg-9 col-md-8">
                    <h2 class="subtitle">Misión</h2>
                <p>Nuestra misión es ayudar a nuestros clientes a promover la prevención de riesgos laborales, cuidar al medio ambiente y ser más sostenibles, mediante servicios de consultoría de la más alta calidad que agreguen valor tangible. Nos esforzamos por comprender profundamente las necesidades y desafíos específicos de cada cliente y ofrecer soluciones estratégicas adaptadas que impulsen resultados medibles y duraderos.</p>
                </div>
            </div>
            <div class="argument row" >
                <div class="content-img col-lg-2 col-md-2">
                    <img class="" src="assets/nosotros/vision.png" alt="" width="100" >
                </div>
                <div class="col-lg-9 col-md-8">
                    <h2 class="subtitle">Visión</h2>
                <p>Aspiramos a ser reconocidos como una empresa líder en consultoría de ingeniería, seguridad salud en el trabajo, medio ambiente y sostenibilidad, guiados por la ética y calidad de sus servicios.</p>
                </div>
                
            </div>
        </div>
    </div>
</div>

<div class=" container box-seccion2">
    <div class="seccion2">
        <h1>VALORES CORPORATIVOS</h1>
        <p>En VARSAL, nos regimos por los siguientes valores fundamentales.</p>
        <div class="row valores">
            <div class="col-lg-2 col-md-6 valor-icon"><img src="assets/nosotros/compromiso.png" alt=""><p>Compromiso</p></div>
            <div class="col-lg-2 col-md-6 valor-icon"><img src="assets/nosotros/confidencia.png" alt=""><p>Compromiso</p></div>
            <div class="col-lg-2 col-md-6 valor-icon"><img src="assets/nosotros/excelencia.png" alt=""><p>Compromiso</p></div>
            <div class="col-lg-2 col-md-6 valor-icon"><img src="assets/nosotros/innovacion.png" alt=""><p>Compromiso</p></div>
            <div class="col-lg-2 col-md-6 valor-icon"><img src="assets/nosotros/integridad.png" alt=""><p>Compromiso</p></div>
            <div class="col-lg-2 col-md-6 valor-icon"><img src="assets/nosotros/transpariencia.png" alt=""><p>Compromiso</p></div>
        </div>
    </div>
</div>
<app-footer></app-footer>